{% extends "padre.html" %}

{% load static %}

{% block mensaje_dinamico %}
<h1>Kimonos encontrados:</h1> 


{% if kimonos_seleccionados %}
<br>
    {% for kimono in kimonos_seleccionados %}
        <li>{{ kimono.marca }}</li>
        <li>{{ kimono.modelo }}</li>
        <li>{{ kimono.color }}</li>
        <li>{{ kimono.talle }}</li>
        <li>{{ kimono.precio }}</li>
        <br>
    {% endfor %}
</br>

{% else %}

<h2 style="color: white"> No encontramos kimonos que cumplan el criterio de búsqueda!</h2>

{% endif %}


{% endblock %}